*
!*/
!*.d
!*.md
!.gitignore
!dub.json

.dub
docs.json
__dummy.html
docs/
grain-probability.so
grain-probability.dylib
grain-probability.dll
grain-probability.a
grain-probability.lib
grain-probability-test-*
*.exe
*.o
*.obj
*.lst
